{
  "icc": false,
  "log-level": "info",
  "iptables": true,
  "userns-remap": "default",
  "userland-proxy": false,
  "no-new-privileges": true,
  "storage-driver": "overlay2",
  "cgroup-parent": "docker"
}